coverage
node_modules

# OS X Finder
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# IntelliJ
.idea/workspace.xml
.idea/tasks.xml
/.idea/misc.xml
